* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*color*/
$blue: #007bff;
$gray: #E5E7E9;
body {
  background-color: $gray;
}
#carouse {
  border-radius: 20px;

  .carousel-indicators li {
    background-color: $blue;
  }

  .carousel-item img {
    border-radius: 20px;
  }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23007BFF' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23007BFF' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

}

.card{
  border: 0;
}
